APP_NAME=CamineriaRural
APP_ENV=local
APP_KEY=base64:RdNu8RLjRFsWRZkiNW/jHV1HGzgAKOka2qvs20Tda7s=
APP_DEBUG=true
APP_URL=http://geoportal.opp.localhost
GEOSERVER_URL=${APP_URL}/geoserver
GEOSERVER_PASS=geoserver
DEFAULT_GEOSERVER_WS=camineria
WMS_URL=${GEOSERVER_URL}/${DEFAULT_GEOSERVER_WS}/wms
WFS_URL=${GEOSERVER_URL}/${DEFAULT_GEOSERVER_WS}/wfs
BING_API_KEY=LACLAVETHEBING

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=camineria
DB_USERNAME=camineria
DB_PASSWORD=camineria

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
